# Practica Obtencion de Datos

In [320]:
#importamos las librerias
import pandas as pd
import numpy as np
from rdflib import Graph, Literal, RDF, URIRef, Namespace #basic RDF handling
from rdflib.namespace import FOAF , XSD #most common namespaces
import urllib.parse #for parsing strings to URI'

In [437]:
#importamos como dataframes los csvs
stops_m4=pd.read_csv('stops_m4_ini.txt')
stops_m10=pd.read_csv('stops_m10_ini.txt')

In [364]:
stops_m4.columns

Index(['stop_id', 'stop_code', 'stop_name', 'stop_desc', 'stop_lat',
       'stop_lon', 'zone_id', 'stop_url', 'location_type', 'parent_station',
       'stop_timezone', 'wheelchair_boarding'],
      dtype='object')

In [410]:
stops_m4.head(5)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,par_4_1,1,PLAZA DE CASTILLA,Paseo de la Castellana 189,40.46690,-3.68917,A,http://www.crtm.es,0,est_90_21,NaN,0
1,acc_4_1_1,1,Plaza de Castilla,Paseo de la Castellana 189,40.46682,-3.68918,NaN,http://www.crtm.es,2,est_90_21,NaN,0
2,acc_4_1_1040,1,Ascensor,Plaza de Castilla 9,40.46555,-3.68877,NaN,http://www.crtm.es,2,est_90_21,NaN,0
3,acc_4_1_1043,1,Intercambiador Superficie,Paseo de la Castellana 191 B,40.46728,-3.68915,NaN,http://www.crtm.es,2,est_90_21,NaN,0
4,acc_4_1_1044,1,Ascensor,Paseo de la Castellana 189,40.46702,-3.68918,NaN,http://www.crtm.es,2,est_90_21,NaN,0

In [366]:
stops_m10.head(5)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,par_10_1,1,PINAR DE CHAMARTIN,Calle de Arturo Soria 330,40.48014,-3.66684,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
1,acc_10_1_721,1,Arturo Soria,Calle de Arturo Soria 330,40.48023,-3.66684,NaN,http://www.crtm.es,2,est_10_1,NaN,0
2,acc_10_1_722,1,Ascensor,Calle de Arturo Soria 330,40.48015,-3.66694,NaN,http://www.crtm.es,2,est_10_1,NaN,0
3,par_10_2,2,FUENTE DE LA MORA,Calle de Dulce Chacón 15,40.48482,-3.66325,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
4,acc_10_2_723,2,Avda. Fuente de la Mora,Cmno de la Fuente de la Mora 6,40.48561,-3.66318,NaN,http://www.crtm.es,2,est_10_2,NaN,0

In [438]:
#Incluimos las variables identificativas de cada dataset y las juntamos
stops_m4["transportmean_name"]="METRO"
stops_m10["transportmean_name"]="ML"

In [439]:
stops_m4["stop_timezone"].unique()
stops_m10["stop_timezone"].unique()

array(['Europe/Madrid', nan], dtype=object)

In [440]:
stops_m4["stop_timezone"]='Europe/Madrid'
stops_m10["stop_timezone"]='Europe/Madrid'

In [441]:
stops_m4["parent_station"] = np.where(stops_m4["location_type"] == 1, stops_m4["stop_id"], stops_m4["parent_station"])
stops_m4.info()
stops_m4.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272 entries, 0 to 1271
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   stop_id              1272 non-null   object
 1   stop_code            1272 non-null   int64
 2   stop_name            1272 non-null   object
 3   stop_desc            1272 non-null   object
 4   stop_lat             1272 non-null   float64
 5   stop_lon             1272 non-null   float64
 6   zone_id              530 non-null    object
 7   stop_url             1272 non-null   object
 8   location_type        1272 non-null   int64
 9   parent_station       1043 non-null   object
 10  stop_timezone        1272 non-null   object
 11  wheelchair_boarding  1272 non-null   int64
 12  transportmean_name   1272 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 129.3+ KB

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding,transportmean_name
0,par_4_1,1,PLAZA DE CASTILLA,Paseo de la Castellana 189,40.46690,-3.68917,A,http://www.crtm.es,0,est_90_21,Europe/Madrid,0,METRO
1,acc_4_1_1,1,Plaza de Castilla,Paseo de la Castellana 189,40.46682,-3.68918,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO
2,acc_4_1_1040,1,Ascensor,Plaza de Castilla 9,40.46555,-3.68877,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO
3,acc_4_1_1043,1,Intercambiador Superficie,Paseo de la Castellana 191 B,40.46728,-3.68915,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO
4,acc_4_1_1044,1,Ascensor,Paseo de la Castellana 189,40.46702,-3.68918,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO
5,acc_4_1_2,1,Castellana impares,Paseo de la Castellana 189,40.46722,-3.68952,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO
6,acc_4_1_3,1,Bravo Murillo,Calle de Bravo Murillo 377,40.46629,-3.69036,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO
7,acc_4_1_4,1,Paseo Castellana pares,Plaza de Castilla 9,40.46546,-3.68891,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO
8,acc_4_1_773,1,Intercambiador,Plaza de Castilla 3,40.46621,-3.69028,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO
9,par_4_10,10,TRIBUNAL,Calle de Fuencarral 81,40.42619,-3.70110,A,http://www.crtm.es,0,NaN,Europe/Madrid,0,METRO
10,acc_4_10_1102,10,Barceló - Ascensor,Calle de Barceló 2,40.42630,-3.70067,NaN,http://www.crtm.es,2,est_4_10,Europe/Madrid,0,METRO
11,acc_4_10_35,10,Fuencarral,Calle de Fuencarral 78,40.42620,-3.70103,NaN,http://www.crtm.es,2,est_4_10,Europe/Madrid,0,METRO
12,acc_4_10_36,10,Tribunal de Cuentas,Calle de Fuencarral 81,40.42569,-3.70111,NaN,http://www.crtm.es,2,est_4_10,Europe/Madrid,0,METRO
13,par_4_11,11,GRAN VIA,Calle Gran Vía 23,40.42001,-3.70180,A,http://www.crtm.es,0,NaN,Europe/Madrid,0,METRO
14,acc_4_11_1105,11,Montera - Ascensor,Calle de la Montera 47,40.41986,-3.70158,NaN,http://www.crtm.es,2,est_4_11,Europe/Madrid,0,METRO
15,acc_4_11_37,11,Montera,Calle de la Montera 48,40.41991,-3.70130,NaN,http://www.crtm.es,2,est_4_11,Europe/Madrid,0,METRO
16,acc_4_11_38,11,Gran Vía,Calle Gran Vía 25,40.41992,-3.70183,NaN,http://www.crtm.es,2,est_4_11,Europe/Madrid,0,METRO
17,acc_4_11_39,11,Fuencarral,Calle Gran vía 28,40.42013,-3.70181,NaN,http://www.crtm.es,2,est_4_11,Europe/Madrid,0,METRO
18,par_4_12,12,SOL,Plaza de la Puerta del Sol 6,40.41688,-3.70326,A,http://www.crtm.es,0,est_90_58,Europe/Madrid,1,METRO
19,acc_4_12_1034,12,Alcalá,Plaza de la Puerta del Sol 13,40.41707,-3.70296,NaN,http://www.crtm.es,2,est_90_58,Europe/Madrid,0,METRO

In [442]:
stops_m10["parent_station"] = np.where(stops_m10["location_type"] == 1, stops_m10["stop_id"], stops_m10["parent_station"])
stops_m10.info()
stops_m10.head(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   stop_id              96 non-null     object
 1   stop_code            96 non-null     int64
 2   stop_name            96 non-null     object
 3   stop_desc            96 non-null     object
 4   stop_lat             96 non-null     float64
 5   stop_lon             96 non-null     float64
 6   zone_id              71 non-null     object
 7   stop_url             96 non-null     object
 8   location_type        96 non-null     int64
 9   parent_station       40 non-null     object
 10  stop_timezone        96 non-null     object
 11  wheelchair_boarding  96 non-null     int64
 12  transportmean_name   96 non-null     object
dtypes: float64(2), int64(3), object(8)
memory usage: 9.9+ KB

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding,transportmean_name
0,par_10_1,1,PINAR DE CHAMARTIN,Calle de Arturo Soria 330,40.48014,-3.66684,A,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
1,acc_10_1_721,1,Arturo Soria,Calle de Arturo Soria 330,40.48023,-3.66684,NaN,http://www.crtm.es,2,est_10_1,Europe/Madrid,0,ML
2,acc_10_1_722,1,Ascensor,Calle de Arturo Soria 330,40.48015,-3.66694,NaN,http://www.crtm.es,2,est_10_1,Europe/Madrid,0,ML
3,par_10_2,2,FUENTE DE LA MORA,Calle de Dulce Chacón 15,40.48482,-3.66325,A,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
4,acc_10_2_723,2,Avda. Fuente de la Mora,Cmno de la Fuente de la Mora 6,40.48561,-3.66318,NaN,http://www.crtm.es,2,est_10_2,Europe/Madrid,0,ML
5,acc_10_2_724,2,Ascensor,Cmno de la Fuente de la Mora 6,40.48566,-3.66302,NaN,http://www.crtm.es,2,est_10_2,Europe/Madrid,0,ML
6,acc_10_2_725,2,Camino Fuente de la Mora,Calle de Dulce Chacón 15,40.48461,-3.66308,NaN,http://www.crtm.es,2,est_10_2,Europe/Madrid,0,ML
7,acc_10_2_726,2,Ascensor,Calle de Dulce Chacón 15,40.48461,-3.66302,NaN,http://www.crtm.es,2,est_10_2,Europe/Madrid,0,ML
8,par_10_3,3,VIRGEN DEL CORTIJO,Avda de Manoteras 54,40.48734,-3.66098,A,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
9,acc_10_3_727,3,Avda. Manoteras,Avda de Manoteras 49,40.48740,-3.66105,NaN,http://www.crtm.es,2,est_10_3,Europe/Madrid,0,ML
10,acc_10_3_728,3,Ascensor,Avda de Manoteras 49,40.48742,-3.66116,NaN,http://www.crtm.es,2,est_10_3,Europe/Madrid,0,ML
11,par_10_4,4,ANTONIO SAURA,Calle del Príncipe Carlos 10,40.48546,-3.65353,A,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
12,acc_10_4_732,4,Príncipe Carlos,Calle del Príncipe Carlos 10,40.48552,-3.65350,NaN,http://www.crtm.es,2,est_10_4,Europe/Madrid,0,ML
13,par_10_5,5,ALVAREZ DE VILLAAMIL,Calle del Príncipe Carlos 13 B,40.48905,-3.65136,A,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
14,acc_10_5_733,5,Príncipe Carlos,Calle del Príncipe Carlos 13 B,40.48903,-3.65126,NaN,http://www.crtm.es,2,est_10_5,Europe/Madrid,0,ML
15,par_10_6,6,BLASCO IBAÑEZ,Calle del Príncipe Carlos 50,40.49368,-3.65584,A,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
16,acc_10_6_719,6,Príncipe Carlos,Calle del Príncipe Carlos 48,40.49354,-3.65563,NaN,http://www.crtm.es,2,est_10_6,Europe/Madrid,0,ML
17,acc_10_6_720,6,Ascensor,Calle del Príncipe Carlos 48,40.49357,-3.65570,NaN,http://www.crtm.es,2,est_10_6,Europe/Madrid,0,ML
18,par_10_7,7,MARIA TUDOR,Calle de María Tudor 15,40.49717,-3.65889,A,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
19,acc_10_7_729,7,María Tudor,Calle de María Tudor 15,40.49701,-3.65907,NaN,http://www.crtm.es,2,est_10_7,Europe/Madrid,0,ML
20,acc_10_7_730,7,Ascensor,Calle de María Tudor 15,40.49708,-3.65905,NaN,http://www.crtm.es,2,est_10_7,Europe/Madrid,0,ML
21,acc_10_7_731,7,Catalina de Austria,Calle de María Tudor 15,40.49779,-3.65820,NaN,http://www.crtm.es,2,est_10_7,Europe/Madrid,0,ML
22,par_10_8,8,PALAS DE REY,Calle de Palas de Rey 18 A,40.50544,-3.66507,A,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
23,acc_10_8_734,8,Palas de Rey,Calle de Palas de Rey SN,40.50546,-3.66501,NaN,http://www.crtm.es,2,est_10_8,Europe/Madrid,0,ML
24,par_10_9,9,LAS TABLAS,Calle de Palas de Rey 30,40.50824,-3.66932,A,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
25,acc_10_9_735,9,Palas de Rey,Calle de Palas de Rey SN,40.50808,-3.66884,NaN,http://www.crtm.es,2,est_10_9,Europe/Madrid,0,ML
26,est_10_1,1,PINAR DE CHAMARTIN,Calle de Arturo Soria 330,40.48014,-3.66684,A,http://www.crtm.es,1,est_10_1,Europe/Madrid,2,ML
27,est_10_2,2,FUENTE DE LA MORA,Calle de Dulce Chacón 15,40.48482,-3.66325,A,http://www.crtm.es,1,est_10_2,Europe/Madrid,2,ML
28,est_10_3,3,VIRGEN DEL CORTIJO,Avda de Manoteras 54,40.48734,-3.66098,A,http://www.crtm.es,1,est_10_3,Europe/Madrid,2,ML
29,est_10_4,4,ANTONIO SAURA,Calle del Príncipe Carlos 10,40.48546,-3.65353,A,http://www.crtm.es,1,est_10_4,Europe/Madrid,2,ML
30,est_10_5,5,ALVAREZ DE VILLAAMIL,Calle del Príncipe Carlos 13 B,40.48905,-3.65136,A,http://www.crtm.es,1,est_10_5,Europe/Madrid,2,ML
31,est_10_6,6,BLASCO IBAÑEZ,Calle del Príncipe Carlos 50,40.49368,-3.65584,A,http://www.crtm.es,1,est_10_6,Europe/Madrid,2,ML
32,est_10_7,7,MARIA TUDOR,Calle de María Tudor 15,40.49717,-3.65889,A,http://www.crtm.es,1,est_10_7,Europe/Madrid,2,ML
33,est_10_8,8,PALAS DE REY,Calle de Palas de Rey 18 A,40.50544,-3.66507,A,http://www.crtm.es,1,est_10_8,Europe/Madrid,2,ML
34,est_10_9,9,LAS TABLAS,Calle de Palas de Rey 30,40.50824,-3.66932,A,http://www.crtm.es,1,est_10_9,Europe/Madrid,2,ML
35,par_10_10,10,COLONIA JARDIN,Calle de Arenas de San Pedro 2,40.39698,-3.77456,A,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
36,par_10_11,11,PRADO DE LA VEGA,Ctra M-502 (Carabanchel) 1200,40.40230,-3.78121,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
37,par_10_12,12,COLONIA DE LOS ANGELES,Ctra M-502 (Carabanchel) 1900,40.40721,-3.78440,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
38,par_10_13,13,PRADO DEL REY,Avda Radio y Televisión 4,40.41047,-3.78748,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
39,par_10_14,14,SOMOSAGUAS SUR,Calle Veritas 4,40.41536,-3.79252,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
40,acc_10_14_808,14,Somosaguas Sur,Calle Veritas 1,40.41499,-3.79262,NaN,http://www.crtm.es,2,est_10_14,Europe/Madrid,0,ML
41,acc_10_14_809,14,Ascensor,Calle Veritas 1,40.41567,-3.79264,NaN,http://www.crtm.es,2,est_10_14,Europe/Madrid,0,ML
42,par_10_15,15,SOMOSAGUAS CENTRO,Ctra Carabanchel (M-502) 36,40.41937,-3.79874,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
43,par_10_16,16,POZUELO OESTE,Ctra Carabanchel (M-502) 63,40.42307,-3.80447,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
44,par_10_18,18,BELGICA,Via de las Dos Castillas 5,40.43058,-3.80755,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
45,par_10_19,19,DOS CASTILLAS,Via de las Dos Castillas 11 D,40.43253,-3.80162,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
46,par_10_20,20,CAMPUS DE SOMOSAGUAS,Avda del Cerro SN,40.43338,-3.79525,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
47,par_10_21,21,AVENIDA DE EUROPA,Avda Comunidad de Madrid 3,40.43931,-3.79305,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2,ML
48,acc_10_21_810,21,Avenida de Europa,Avda Comunidad de Madrid 3,40.43914,-3.79309,NaN,http://www.crtm.es,2,est_10_21,Europe/Madrid,0,ML
49,acc_10_21_811,21,Ascensor,Avda Comunidad de Madrid 3,40.43953,-3.79301,NaN,http://www.crtm.es,2,est_10_21,Europe/Madrid,0,ML

In [443]:
stops_m4["col_aux"]="est"+  stops_m4[stops_m4["parent_station"].isnull()]["stop_id"].str.slice(start=3)

In [444]:
stops_m10["col_aux"]="est"+  stops_m10[stops_m10["parent_station"].isnull()]["stop_id"].str.slice(start=3)

In [445]:
stops_m4["parent_station"]=np.where(stops_m4["col_aux"].notna(), stops_m4["col_aux"],stops_m4["parent_station"])

In [446]:
stops_m10["parent_station"]=np.where(stops_m10["col_aux"].notna(), stops_m10["col_aux"],stops_m10["parent_station"])

In [447]:
stops_m4.head(50)
stops_m4.info()
stops_m4[stops_m4["parent_station"].isna()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272 entries, 0 to 1271
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   stop_id              1272 non-null   object
 1   stop_code            1272 non-null   int64
 2   stop_name            1272 non-null   object
 3   stop_desc            1272 non-null   object
 4   stop_lat             1272 non-null   float64
 5   stop_lon             1272 non-null   float64
 6   zone_id              530 non-null    object
 7   stop_url             1272 non-null   object
 8   location_type        1272 non-null   int64
 9   parent_station       1272 non-null   object
 10  stop_timezone        1272 non-null   object
 11  wheelchair_boarding  1272 non-null   int64
 12  transportmean_name   1272 non-null   object
 13  col_aux              229 non-null    object
dtypes: float64(2), int64(3), object(9)
memory usage: 139.2+ KB

Empty DataFrame
Columns: [stop_id, stop_code, stop_name, stop_desc, stop_lat, stop_lon, zone_id, stop_url, location_type, parent_station, stop_timezone, wheelchair_boarding, transportmean_name, col_aux]
Index: []

In [448]:
stops_m10.head(50)
stops_m10.info()
stops_m10[stops_m10["parent_station"].isna()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   stop_id              96 non-null     object
 1   stop_code            96 non-null     int64
 2   stop_name            96 non-null     object
 3   stop_desc            96 non-null     object
 4   stop_lat             96 non-null     float64
 5   stop_lon             96 non-null     float64
 6   zone_id              71 non-null     object
 7   stop_url             96 non-null     object
 8   location_type        96 non-null     int64
 9   parent_station       96 non-null     object
 10  stop_timezone        96 non-null     object
 11  wheelchair_boarding  96 non-null     int64
 12  transportmean_name   96 non-null     object
 13  col_aux              56 non-null     object
dtypes: float64(2), int64(3), object(9)
memory usage: 10.6+ KB

Empty DataFrame
Columns: [stop_id, stop_code, stop_name, stop_desc, stop_lat, stop_lon, zone_id, stop_url, location_type, parent_station, stop_timezone, wheelchair_boarding, transportmean_name, col_aux]
Index: []

In [449]:
stops_m4["zone_id"].unique()

array(['A', nan, 'B1', 'B2', 'B3'], dtype=object)

In [450]:
stops_m10["zone_id"].unique()

array(['A', nan, 'B1', 'B2'], dtype=object)

In [451]:

stops_m4_parents= stops_m4[stops_m4["location_type"]==1][["zone_id","parent_station"]]
stops_m4_parents

     zone_id parent_station
150        A      est_90_21
151        A      est_90_25
152        A      est_90_54
153        A      est_90_58
154        A       est_4_10
...      ...            ...
1265      B1      est_4_232
1266      B1      est_4_233
1267      B1      est_4_234
1268      B1      est_4_235
1269      B1      est_4_236

[240 rows x 2 columns]

In [452]:

stops_m10_parents= stops_m10[stops_m10["location_type"]==1][["zone_id","parent_station"]]
stops_m10_parents
stops_m4

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding,transportmean_name,col_aux
0,par_4_1,1,PLAZA DE CASTILLA,Paseo de la Castellana 189,40.46690,-3.68917,A,http://www.crtm.es,0,est_90_21,Europe/Madrid,0,METRO,NaN
1,acc_4_1_1,1,Plaza de Castilla,Paseo de la Castellana 189,40.46682,-3.68918,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO,NaN
2,acc_4_1_1040,1,Ascensor,Plaza de Castilla 9,40.46555,-3.68877,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO,NaN
3,acc_4_1_1043,1,Intercambiador Superficie,Paseo de la Castellana 191 B,40.46728,-3.68915,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO,NaN
4,acc_4_1_1044,1,Ascensor,Paseo de la Castellana 189,40.46702,-3.68918,NaN,http://www.crtm.es,2,est_90_21,Europe/Madrid,0,METRO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1267,est_4_234,234,HOSPITAL SEVERO OCHOA,Avda Orellana 3,40.32177,-3.76797,B1,http://www.crtm.es,1,est_4_234,Europe/Madrid,2,METRO,NaN
1268,est_4_235,235,LEGANES CENTRAL,Calle Virgen del Camino 1,40.32899,-3.77154,B1,http://www.crtm.es,1,est_4_235,Europe/Madrid,2,METRO,NaN
1269,est_4_236,236,SAN NICASIO,Avda Mar Mediterráneo SN,40.33616,-3.77587,B1,http://www.crtm.es,1,est_4_236,Europe/Madrid,2,METRO,NaN
1270,par_4_237,237,OPERA,Plaza de Isabel II 9,40.41809,-3.70928,A,http://www.crtm.es,0,est_4_36,Europe/Madrid,0,METRO,NaN
1271,par_4_238,238,PRINCIPE PIO,Paseo de la Florida 2,40.42099,-3.72033,A,http://www.crtm.es,0,est_90_18,Europe/Madrid,1,METRO,NaN

In [453]:
stops_m4=stops_m4.merge(stops_m4_parents, on='parent_station', how='left')
stops_m4['zone_id'] = stops_m4['zone_id_x'].fillna(stops_m4['zone_id_y'])
stops_m4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1272 entries, 0 to 1271
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   stop_id              1272 non-null   object
 1   stop_code            1272 non-null   int64
 2   stop_name            1272 non-null   object
 3   stop_desc            1272 non-null   object
 4   stop_lat             1272 non-null   float64
 5   stop_lon             1272 non-null   float64
 6   zone_id_x            530 non-null    object
 7   stop_url             1272 non-null   object
 8   location_type        1272 non-null   int64
 9   parent_station       1272 non-null   object
 10  stop_timezone        1272 non-null   object
 11  wheelchair_boarding  1272 non-null   int64
 12  transportmean_name   1272 non-null   object
 13  col_aux              229 non-null    object
 14  zone_id_y            1270 non-null   object
 15  zone_id              1272 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 168.9+ KB

In [456]:
cols=['stop_id', 'stop_code', 'stop_name', 'stop_desc', 'stop_lat','stop_lon', 'zone_id', 'stop_url', 'location_type', 'parent_station','stop_timezone', 'wheelchair_boarding']
stops_m4=stops_m4[cols]
stops_m4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1272 entries, 0 to 1271
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   stop_id              1272 non-null   object
 1   stop_code            1272 non-null   int64
 2   stop_name            1272 non-null   object
 3   stop_desc            1272 non-null   object
 4   stop_lat             1272 non-null   float64
 5   stop_lon             1272 non-null   float64
 6   zone_id              1272 non-null   object
 7   stop_url             1272 non-null   object
 8   location_type        1272 non-null   int64
 9   parent_station       1272 non-null   object
 10  stop_timezone        1272 non-null   object
 11  wheelchair_boarding  1272 non-null   int64
dtypes: float64(2), int64(3), object(7)
memory usage: 129.2+ KB

In [457]:
stops_m10=stops_m10.merge(stops_m10_parents, on='parent_station', how='left')
stops_m10['zone_id'] = stops_m10['zone_id_x'].fillna(stops_m10['zone_id_y'])
stops_m10=stops_m10[cols]
stops_m10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 95
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   stop_id              96 non-null     object
 1   stop_code            96 non-null     int64
 2   stop_name            96 non-null     object
 3   stop_desc            96 non-null     object
 4   stop_lat             96 non-null     float64
 5   stop_lon             96 non-null     float64
 6   zone_id              96 non-null     object
 7   stop_url             96 non-null     object
 8   location_type        96 non-null     int64
 9   parent_station       96 non-null     object
 10  stop_timezone        96 non-null     object
 11  wheelchair_boarding  96 non-null     int64
dtypes: float64(2), int64(3), object(7)
memory usage: 9.8+ KB

In [458]:
typeST_dict = {0:'parada', 1:'estacion', 2:'acceso'}
stops_m4['location_new'] = stops_m4['location_type'].map(typeST_dict)

In [459]:
stops_m10['location_new'] = stops_m10['location_type'].map(typeST_dict)

In [461]:
stops_m4.to_csv("stops_m4.txt")

In [462]:
stops_m10.to_csv("stops_m10.txt")

In [44]:
#stops = pd.concat([stops_m4, stops_m10])

#print(stops_m4.shape)
#print(stops_m10.shape)
#print(stops.shape)

NameError: name 'stops_m10' is not defined